<h4>Движения:</h4>
<ul>
  {{#each moves}}
  <li><a href="#fuck/{{id}}">{{name}}</a> - {{movesAmount}} - <a href="#toolEdit/{{id}}">редактировать</a>
  {{else}}
  <li>нэт двишения, насяльника ((
  {{/each}}
</ul>
