<form>
  <fieldset class="fieldset">
    <legend>{{#if isNew}}Добавление движения{{else}}Редактирование «{{move.name}}»{{/if}} <div class="label pull-right">{{toolName}}</div></legend>

    <div class="control-group">
      <label class="control-label" for="name">Название движения</label>
      <input name="name" id="name" type="text" value="{{move.name}}" placeholder="Например «Каскад»">
    </div>

    <div class="control-group">
      <label class="control-label" for="description">Описание движения</label>
      <textarea name="description" id="description">{{move.description}}</textarea>
    </div>

    <div class="control-group radioCtrl">
      <div class="btn-group" data-toggle="buttons-radio">
        <button type="button" data-value="move" class="btn{{#if type.isMove}} active{{/if}}">Движение</button>
        <button type="button" data-value="pack" class="btn{{#if type.isPack}} active{{/if}}">Связка</button>
      </div>
      <input name="type" type="hidden" />
    </div>

    <div class="control-group radioCtrl">
      <div class="btn-group" data-toggle="buttons-radio">
        <button type="button" data-value="learn" class="btn{{#if know.isLearn}} active{{/if}}">На изучении</button>
        <button type="button" data-value="work" class="btn{{#if know.isWork}} active{{/if}}">На отработке</button>
      </div>
      <input name="know" type="hidden" />
    </div>

    <div class="control-group sourceHelper">
      <label class="control-label" for="source">Источник</label>
      <input name="source" id="source" type="text" value="{{move.source}}" placeholder="Например «Мэл»">
      {{#if sourceHelper}}
        <span class="help-block">Например:
        {{#tagList sourceHelper}}{{body}}{{/tagList}}
        </span>
      {{/if}}
    </div>

    <div class="control-group js-slider">
      <label class="control-label" for="time">Время на тренировку: <span class="badge"><span>{{move.time}}</span> минут</span></label>
      <div class="js-slider__el"></div>
      <input type="hidden" name="time" id="time" value="{{move.time}}" />
    </div>


    <div class="form-actions">
      <button type="submit" class="btn btn-success">Сохранить</button>
      <!--<button class="btn btn-danger btn-mini">Удалить инструмент</button>-->
    </div>
  </fieldset>
</form>